################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WRITEUP_CLAUDE.md
/README.md
